<br />
<br />

  <div class="col-8 offset-2">
    <div class = "nrdl-head">
      <a>nüurdle, your very own</a><br />
      <a>love time machine</a><br />
      <img src="/assets/love-time-machine.jpg" width="300" height="300" alt="shared a moment" /><br />
    </div>
    <div class = "nrdl-text cntr">
      <a>rewind time and get back in touch with someone you shared a moment with.</a><br />
      <img src="/assets/icon_1024.png" width="20" height="20" alt="shared a moment" /><br />
      <a>nüurdle will also let you know when somebody where you are right now likes you.</a><br />
      <img src="/assets/icon_1024.png" width="20" height="20" alt="shared a moment" /><br />
      <a>no more missed opportunities, no more regrets!</a><br />
    </div>
  </div>

  <div class = "col-12">
    <br /><br /><br /><br /><br /><br />
    <div class = "row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <img src="/assets/too-shy.png" width="300" height="300" alt="nuurdle shared a moment" />  
      </div>
      <div class = "col-sm-6"><br /><br />
        <div class = "nrdl-head lft">
          too shy to say hi?
        </div>
        <div class = "nrdl-text">
          exchanged knowing looks but didn't get a chance to chat?  
          <br />
          with nüurdle, help is at hand! 
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div><br />
  
  
    <br /><br /><br /><br /><br /><br />
    <div class = "row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><br /><br />
        <div class = "nrdl-head lft">
          post a nüurdle!
        </div>
        <div class = "nrdl-text">
          the other person will receive an instant alert and can send back a response.
          <br />
          nüurdle is completely anonymous but will get you back together.
        </div>
      </div>
      <div class = "col-sm-4">
        <img src="/assets/receive-alert.jpg" width="300" height="300" alt="nuurdle love" />  
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

    <div class = "col-12">
    <br /><br /><br /><br /><br /><br /><br />
    <div class = "row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <img src="/assets/historical.jpg" width="380" height="300" alt="nuurdle shared a moment" />  
      </div>
      <div class = "col-sm-6"><br /><br />
        <div class = "nrdl-head lft">
          encounter in the past?
        </div>
        <div class = "nrdl-text">
          not a problem. whether you met someone last night or last week, nüurdle lets you reach back in time and get in touch.  
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>


  <br /><br /><br /><br /><br /><br /><br />
  <div class = "col-10 offset-1 nrdl-text">
    nüurdle in 90 seconds, take a peek at our short film.
  </div>


