<br />
<div class = "col-sm-10 offset-sm-1">

  <div class = "booyah-box">
    <div class = "row">
      <div class = "col-sm-2">
        <img src="/assets/fishy-business.jpg" width="100%" alt="nuurdle love" /> 
      </div>
      <div class = "col-sm-10">
        <div class = "nrdl-text lft">
          a brief history of nüurdle, dating and perhaps the universe
        </div>
        <div class = "nrdl-lite lft">
          Okay, perhaps I’m biting off a little more than I can chew for a first stab at this blogging business…
          <%= link_to 'read more', "https://medium.com/@nerdycat45/a-brief-history-of-n%C3%BCurdle-dating-and-perhaps-the-universe-possibly-93d64281e093", target: :_blank %>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class = "booyah-box">
    <div class = "row">
      <div class = "col-sm-2">
        <img src="/assets/bovril.jpg" width="70%" alt="nuurdle love" /> 
      </div>
      <div class = "col-sm-10">
        <div class = "nrdl-text lft">
          the lengths we go to in search of love… 
        </div>
        <div class = "nrdl-lite lft">
          Love and sport, sometimes they go to together like, erh love and football??…
          <%= link_to 'read more', "https://medium.com/@nerdycat45/the-lengths-we-go-to-in-search-of-love-and-bovril-fc556f3a920e", target: :_blank %>
        </div>
      </div>
    </div>
  </div>

  <br />


  <div class = "booyah-box">
    <div class = "row">
      <div class = "col-sm-2">
        <img src="/assets/moog.jpg" width="80%" alt="nuurdle love" /> 
      </div>
      <div class = "col-sm-10">
        <div class = "nrdl-text lft">
          raise a glass to those too shy to say hi
        </div>
        <div class = "nrdl-lite lft">
          Shyness is a strange old beast, on the one hand it’s a trait that we can find a bit endearing…
          <%= link_to 'read more', "https://medium.com/@nerdycat45/raise-a-glass-to-those-too-shy-to-say-hi-theyre-the-reason-we-re-all-here-2d9304bf3df6", target: :_blank %>
        </div>
      </div>
    </div>
  </div>

  <br />


  <div class = "booyah-box">
    <div class = "row">
      <div class = "col-sm-2">
        <img src="/assets/lightside.jpg" width="80%" alt="nuurdle love" /> 
      </div>
      <div class = "col-sm-10">
        <div class = "nrdl-text lft">
          cross over to the light side, why you don’t have to get drunk to socialise
        </div>
        <div class = "nrdl-lite lft">
          It’s Saturday and I’ve just had my morning run. What’s so unusual about that you might ask...
          <%= link_to 'read more', "https://medium.com/@nerdycat45/cross-over-to-the-light-side-why-you-dont-have-to-get-drunk-to-socialise-502ccd000443", target: :_blank %>
        </div>
      </div>
    </div>
  </div>

  <br />




</div>