<br />
<div class="col-8 offset-2">
  <div class = "nrdl-head">
    <a>join the community</a><br />
    <a>get nüurdle now</a>
  </div>
</div>

<div class="community"></div>

  <div class="col-10 offset-1">
    <div class = "row cntr">
      <div class="col-sm-6 store-link-cntr">
        <a class="navbar-brand" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
          <img src="/assets/app-store.svg" width="180" height="130" alt="">
        </a>
      </div>
      <div class="col-sm-6 store-link-cntr">
        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
          <img src="/assets/google-play.png" width="182" height="56" alt="">
        </a>
      </div>
    </div>
  </div>

    <br /><br />
  <div class = "nrdl-text">
    get nüurdle for free at the App Store and Google play. 
    <br />
    start your adventure today!
  </div>

</div>