<br /><br /><br /><br />
<div class="community">
  <br /><br /><br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>join the community</h2>
    <br />
    <h1>get nüurdle now</h2>
    <br />

    <div class = "row cntr">
      <div class="col-sm-6 store-link-cntr">
        <a class="navbar-brand" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
          <img src="/assets/app-store.svg" width="180" height="130" alt="">
        </a>
      </div>
      <div class="col-sm-6 store-link-cntr">
        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
          <img src="/assets/google-play.png" width="182" height="56" alt="">
        </a>
      </div>
    </div>
    <br /><br />
  </div>
</div>