<br />
<div class="col-8 offset-2">
  <div class = "nrdl-head">
    <a>join the community</a><br />
    <img src="/assets/comunity-nuurdle.png" width="100%" height="100%" alt="shared a moment" /><br />
    <a>get nüurdle now</a>
  </div>
</div>
<br />

  <div class="col-10 offset-1">
    <div class = "row cntr">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <a class="navbar-brand" target="_blank" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
          <img src="/assets/appstore.jpg" class="store-link" alt="">
        </a>
      </div>
      <div class="col-sm-5">
        <a class="navbar-brand" target="_blank" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
          <img src="/assets/gplay.jpg" class="store-link" alt="">
        </a>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <br /><br />
    <div class = "nrdl-text cntr">
      get nüurdle for free at the App Store and Google play. 
      <br />
      start your adventure today!
    </div>

  </div>



</div>