
<br />
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
  <div class = "nrdl-head">
    <a>frequently asked questions</a>
	</div>
	<br />
	

	<div class="panel-group" id="accordion">

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
	        What is a nüurdler and what is a nüurdlee?</a>
	      </div>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	Sorry that's our jargon! :) - A nüurdler is the person who creates the nüurdle, the nüurdlee is the person whom responds and has their response accepted! When you are chatting under the connect feature we use these terms to show whom initiated the connection and whom responded.
	      </div>
	    </div>
	  </div>
	  <br />

	    <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
	        	What do you do with my personal details, can anyone else see my identity when I'm using nüurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse2" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	Your details are not disclosed to any other users of nüurdle and are not made known to anyone else. When you create a nüurdle it is completely anonymous, anyone searching for and finding your nüurdle will not be able to see your username or any other information about you. The same applies when you create a response, your identity is anonymous. Only after a nüurdler has accepted a response in order to connect with and chat to a nüurdlee will both of your usernames be made known to each other in your chat session. No other personal details or preference information would ever be revealed by nüurdle. Only the two participants in a nüurdle connection will be party to each others usernames.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
	        	What happened to a response I made? I never got a reply or a chat trail invitation!
	      	</a>
	      </div>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	We've designed nüurdle to work anonomously, that means that if the person whose nüurdle you responded to rejects your response or accepts a different response, your response gets quietly archived. The same happens if the person simply deleted the nüurdle or just left the nüurdle and all responses. No-one likes to be rejected so nüurdle does not tell you exactly what happened, unless of course your response is accepted!
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
	        	What happens if a responder to my nüurdle is fake? Surely anyone can find and respond to my nuurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse4" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	Correct, anyone whose preferences match yours would be able to find your nüurdle if they knew where and when to search for it. They can of course then also create a response but the way nüurdle works is that they also have to provide a description of you or describe the event. Let's take an example; you are at a cafe and there's a nice guy sipping his cappucino on the table opposite you, the two of you exchange glances and smiles a few times, you think wow but neither of you seem to have the courage to go and say hi. Enter nüurdle! You create a nüurdle and describe this guy (black hair, glasses, red jumper reading The Economist in Cafe Doodle). Now, your interesting guy would be able to search nüurdle as he knows the date and time when he encountered you, he'll then create a response with a description of you. You'll get that response in which you'll read a description of yourself and the encounter, so you accept and start chatting. Now imagine you receive a response that says something very generic or vague like "I saw you there and liked you", it's down to you but maybe this is not your mystery guy so you can ignore or reject. Similarly if the response says something completely wrong very clearly you just reject this response.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
	        	Why do I have to set my preferences before I can fully use nüurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse5" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	  When you create a nüurdle we use your details and preferences to set parameters on the nüurdle such as controlling whom can search for and respond to your nüurdle. Similarly when you want to serahc for other peoples nüurdles we use your details and preferences to automatically set the search criteria in the background. It only takes a couple of minutes and you're all done.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
	        	What happens if I block someone?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse6" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	  Most people are good but, well there's always a few.... The idea of nüurdle is to put you in total control of whom you are interacting with, if you get a response on a nüurdle from someone whose not the person you are hoping to connect with then you can just reject or ignore but of course you might want to take things a stage further and make sure they never contact you again. That's where blocking someone comes into play, blocking another user will mean that they can never find any of your nüurdles again and you'll never be able to find any of their nüurdles when you search. We've also extended this feature to the situation where you've connected with someone and are chatting but wish to block them. Once you block them they are blocked for good so in some instances you might just want to reject the response or delete the chat trail.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
	        	When I search for nüurdles how does nüurdle calculate how long either side of the time I enter in the search criteria fields to include?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse7" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	  We've automatically set nüurdle to include any nüurdles in search results four hours either side of the time you specify. We know time can get a little hazy so we figured this should help most folks to find nüurdles a bit easier. We have a similar configuration with the location where we include nüurdles within a kilometre of the location you specify in your search results. The location you pin on the map acts as the centre.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
	        	What happens if I set my preferences to include certain age groups?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse8" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 Age preferences help nüurdle to make sure you only get to interact with the people in the age groups you want to. For example if you set your preferences to only include the 31-55 age group, whenever you search for nüurdles other people have created you'll only be able to find those made by people in that age group. Similarly when you create a nüurdle yourself, only those in the 31-55 age group will be able to find your nüurdle. You can of course set your preferences to include as many age groups as you like but if another person has restricted who they wish to interact with you might not find their nüurdles and vice versa.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
	        	Can I use nüurdle on multiple devices? Does it store my data on my phone?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse9" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 When you log into nüurdle your details are loaded in, when you log off they are gone, we don't store any information about you on the device, though when you are logged in the phone will use locally cached details about you to save having to use the network continually. If you log out the information is not retained. You can use nüurdle on multiple devices but it's a good idea to log out of one device before you log into the other otherwise you'll get notification alerts on both. Multiple people can log onto nüurdle on the same device at different times too.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
	        	What do you do with my personal details? Can anyone else see my identity when I'm using nüurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse10" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 Your details are not disclosed to any other users of nüurdle and are not made available to anyone but yourself. Please feel free to check out our terms and conditions where we outline our privacy policy in more detail. When using nüurdle you identity is also completely anonomous until you choose to connect with another person. When you create a nüurdle it stays anonomous, anyone finding that nüurdle does not see your user name, only the description you entered. The same applies to any response you create to a nüurdle, your identity is totally anonomous right up to the point when the other party accepts your response and establishes a connetcion with you. At this point you will both know each others username only.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
	        	How do I know when I have a response to my nüurdle or when someone accepts a response I made?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse11" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 We use notifications on nüurdle that alert you when you receive a response to one of your nüurdles, when you check your nüurdles under my nüurdles you'll also see the status updates from pending (no responses yet) to responded (1 or more responses). If you create a response to a nüurdle, you'll get a notification when the nüurdler has read and accepted your response, advising you that you are now connected and can use the new chat trail which nüurdle automatically creates under connect to start instant chatting. We also use notifications to let you know that you have a new chat message and if the other party deletes the chat trail we'll give you a heads up on that too.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
	        	Do I need a network connection to use nüurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse12" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 We like to think nüurdle is all about communication and connection; you use nüurdle to create records of events which others can then respond to so yes you do need to be connected to the internet in order to be able to post your nüurdles to our back end so that others can search for them. Similarly if you create a response to someone's nüurdle they'll need to know about that so they can review and hopefully accept so that also needs you to be connected to the internet to post those responses. Chatting with people you've connected to also needs access to the internet.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
	        	Does nüurdle use my network connection all the time?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse13" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 Don't worry, nüurdle only accesses the internet when you are using it and actively creating nüurdles, responses and chatting. If you run nüurdle in the background it will not try and "poll" for information in the background so it will not be pulling data down when inactive, in this way nüurdle consumes very little of your bandwith or devices battery. Also, because nüurdle alerts you with notifications when things have changed (response to your nüurdle, new chat message received) it's up to you when you want to refresh data inside nüurdle. 
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
	        	Does nüurdle use GPS location services all the time?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse14" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 No, the only time location services are enabled is temporarily at the time you create a nüurdle, and it disconnects again as soon as it knows where you are, it never stays active continually. The same goes for the map we use with the find function, this only uses location services briefly to get your current location and centre the map on this point when loading.
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
	        	Can I use nüurdle on a train?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse15" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 Absolutely, you can use nüurdle wherever and whenever you want. The only thing to bear in mind is if you make a nüurdle to capture a moment with that person you've been exchanging smiles at in the buffet car when the train is hurtling through the countryside at 200kmph nüurdle will take a snapshot of the location at that specific point. It might be hard for that other person to find the nüurdle in this instance, so we'd advise you wait until you've stopped at the station. Why not then make a big show of creating a nüurdle!
	      </div>
	    </div>
	  </div>
	  <br />

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <div class = "nrdl-text">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
	        	The place I created a nüurdle does not match exactly the address I can see when I check it in my nüurdles, did nüurdle capture the right location and will people be able to find my nüurdle?
	      	</a>
	      </div>
	    </div>
	    <div id="collapse16" class="panel-collapse collapse in">
	      <div class="panel-body nrdl-lite">
	      	 Absolutely, the address shown for a nüurdle is only a label to help you identify the encounter; nüurdle uses your phone's geolocation features to pin point your location as exactly as possible at the moment you submit the nüurdle. Remember nüurdle actually stores the map coordinates of your nüurdle and those are used when others search for your nüurdle (nüurdle uses a kilometre radius when searching). The address shown in my nüurdles is simply a label that is created by a geolocation query and sometimes these don't always provide an exact match.
	      </div>
	    </div>
	  </div>
	  <br />




	</div>


</div>