

  <script>
    var latitude;
    var longitude;
    var map;
    var hasRun;

    function showDialogEnterAddress() {

      var okayBtn = document.getElementById('okay');
      var modalText = "You may promote your pawn to any of the following pieces.";
      $(".pieces-available").html(modalText);
      $('#myModal').modal('show'); 

      okayBtn.onclick = function() {
        getCoordsFromAddress()
      };
      
    }

    function getCoordsFromAddress() {
      var inputAddress = document.getElementById('addressEntry').value;
      if (!inputAddress) {
        alert("sorry you need to enter an address so that we can search for nüurdles.");
      } else {
        // alert(inputAddress);

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({address: inputAddress}, function(results, status) {
            // Do something with the results

            hasRun = false;
            latitude = results[0].geometry.location.lat();
            longitude = results[0].geometry.location.lng();
            // alert(results[0].geometry.location.lat());
            initMap(latitude,longitude,inputAddress);
        });

      }
    }

    function showNuurdles() {

      // check user entered an address by checking whether latitude has been set or is null.
      if (!latitude) { 
        alert("you must select an address first, use the enter address button and enter an address then we can find nüurdles."); 
      } else { 
        // now check if user has already run a search and pins are showing for this address
        // if not show the pins, else advise user to search again (getCoordsFromAddress sets flag to false)
        if (!hasRun) {
          hasRun = true;
          showNuurdlePins();
        } else {
          alert("You'll need to enter a new address first then we can find nüurdles.");
        }
      }
      
    }

    function showNuurdlePins() {

        var locationOneLat = latitude + (Math.random() * (0.0008 - 0.002) + 0.002);
        var locationOneLon = longitude + (Math.random() * (0.0008 - 0.002) + 0.002);
        var locationOne = {lat: locationOneLat, lng: locationOneLon}; 

        var locationTwoLat = latitude + (Math.random() * (-0.0008 - 0.002) + 0.002);
        var locationTwoLon = longitude - (Math.random() * (-0.0008 - 0.002) + 0.002);
        var locationTwo = {lat: locationTwoLat, lng: locationTwoLon}; 
      
        var locationThrLat = latitude - (Math.random() * (-0.0008 + 0.002) + 0.002);
        var locationThrLon = longitude + (Math.random() * (-0.0008 + 0.002) - 0.002);
        var locationThr = {lat: locationThrLat, lng: locationThrLon}; 
      

        var markerOne = new google.maps.Marker({
          position: locationOne,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
          map: map,
        });

        var markerTwo = new google.maps.Marker({
          position: locationTwo,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
          map: map,
        });

        var markerThr = new google.maps.Marker({
          position: locationThr,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
          map: map,
        });

        markerOne.addListener('click', function() {
          getNuurdleLinks();
        });

        markerTwo.addListener('click', function() {
          getNuurdleLinks();
        });

        markerThr.addListener('click', function() {
          getNuurdleLinks();
        });

    }


    function getNuurdleLinks() {

      var okayBtn = document.getElementById('okay');
      var modalText = "There could be nüurdles posted at this location, download the app for free to see more and send back replies to these people's posts.";
      $(".modal-message").html(modalText);
      $('#getNuurdle').modal('show'); 

      okayBtn.onclick = function() {
        getCoordsFromAddress()
      };
      
    }

    function initMap(latitude,longitude,address) {
      if (!latitude) { 
        var initMyLatLng = {lat: -33.861756, lng: 151.2108839}; 
        var addressTitle = "Somewhere in Sydney! Click 'enter address' and choose a location, then we can search for nüurdles posted nearby.";
      } else {
        var initMyLatLng = {lat: latitude, lng: longitude};
        var addressTitle = "click 'find nüurdles' and we'll show you nüurdles people have posted nearby " + address +".";
      }
      
      map = new google.maps.Map(document.getElementById('map'), {
       zoom: 15,
       center: initMyLatLng
      });

      var marker = new google.maps.Marker({
        position: initMyLatLng,
        map: map,
        title: addressTitle
      });

      marker.addListener('click', function() {
        alert(marker.title);
      });

    }
    



/*
    function getLocation(map) {

    	var options = {
        enableHighAccuracy: true,
        timeout: 55000,
        maximumAge: 0
      };

    function success(position) {
    			
    	var myLatLng = {lat: position.coords.latitude, lng: position.coords.longitude};
    	var map = new google.maps.Map(document.getElementById('map'), {
    	   zoom: 12,
    	   center: myLatLng
    	});

    	var marker = new google.maps.Marker({
    	  position: myLatLng,
    	  map: map,
    	  title: 'my address'
    	});

    }

    function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    navigator.geolocation.getCurrentPosition(success, error, options);


	var x = document.getElementById("demo");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, options);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

}



function showPosition(position) {
		
	var myLatLng = {lat: position.coords.latitude, lng: position.coords.longitude};
  	alert(myLatLng);
    var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 12,
       center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });

}
*/

  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtVo6lca3eyGxppXGIjIdHLwhiAQgTLmo&callback=initMap">
  </script>

  <div id="map"></div>
  <br />
  <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
    <div class = "nrdl-head">
      <div class = "row">
        <div class = "col-sm-6">
          <input type="button" class="btn btn-primary" onclick="showDialogEnterAddress()" value="enter address"/>
        </div>
        <div class = "col-sm-6">
          <input type="button" class="btn btn-primary" onclick="showNuurdles()" value="find nüurdles"/>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="col-12 cntr">
            <h5 class="modal-title">enter address to search for</h5>
          </div>
        </div>
        <div class="modal-body">
          <input class="form-control input-sm" id="addressEntry" type="text" placeholder="type address, click done. we'll find nüurdles." autofocus/>
        </div>
        <div class="modal-footer">
          <div class="col-12 cntr">
            <button type="button" class="btn btn-primary" id="okay" data-dismiss="modal">done</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="getNuurdle" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="col-12 cntr">
            <h5 class="modal-title">download nüurdle</h5>
          </div>
        </div>
        <div class="modal-body">
          <div class="modal-message"></div><br />
          <div class="col-12">
            <div class = "row cntr">

                <a class="navbar-brand" target="_blank" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
                  <img src="/assets/appstore.jpg" class="store-link" alt="">
                </a>

                <a class="navbar-brand" target="_blank" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
                  <img src="/assets/gplay.jpg" class="store-link find" alt="">
                </a>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="col-12 cntr">
            <button type="button" class="btn btn-primary" id="okay" data-dismiss="modal">done</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  