<br />
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
  <div class = "nrdl-head">
    <a>tips and guidelines</a><br />
    
  <br /><br />
  <div class = "row">
    <div class="col-sm-4">
      <div class = "nrdl-text">privacy</div>
      <div class = "nrdl-lite">
				so, you've created a nüurdle, the person you saw has responded, you've accepted and you are chatting away. great, that's what nüurdle is here for! <br />
				remember nüurdle is totally anonomous, all the other person knows about you is your username and it's up to you to keep it like that for as long as you want to. 
				<br /> please respect other's rights to anonymity too.
				<br /><br />
      </div>
    </div>
    <div class = "col-sm-4">
      <div class = "nrdl-text">safety</div>
			<div class = "nrdl-lite">
				one thing to keep an eye out for is if someone sends you a response or chat message with links to other websites, or tries to sell you something. <br />that's not what nüurdle is about and that's probably not something you'd do yourself so please if someone does send you links use caution.<br />
				remember you can permanently block people you are not comfortable with anytime.
				<br /><br />
			</div>
    </div>
    <div class = "col-sm-4">
      <div class = "nrdl-text">etiquette</div>
      <div class = "nrdl-lite">
				most people are going to use nüurdle like they'd use any technology, responsibly to make their lives just that little bit easier, that's why we developed nüurdle, to help you connect. however, there are always a few people... <br />
				just because nüurdle is anonomous that doesn't make it appropriate or cool to send people offensive or unpleasant responses or messages.
				<br /><br />
			</div>
    </div>
  </div>
</div>