<br />
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
  <div class = "nrdl-head">
    <a>tips and guidelines</a>
  <br />
  <div class = "row">
    <div class="col-sm-4 guidelines-box" id="demo">
      <div class = "nrdl-text">privacy</div>
      <div class = "nrdl-lite">
				so, you've created a nüurdle, the person you saw has responded, you've accepted and you are chatting away. great, that's what nüurdle is here for! <br />
				remember nüurdle is totally anonymous, all the other person knows about you is your username and it's up to you to keep it like that for as long as you want to. 
				<br /> please respect other's rights to anonymity too.
				<br /><br />
      </div>
    </div>
    <div class = "col-sm-4 guidelines-box" id="demo1">
      <div class = "nrdl-text">security</div>
			<div class = "nrdl-lite">
				one thing to keep an eye out for is if someone sends you a response or chat message with links to other websites, or tries to sell you something. <br />that's not what nüurdle is about and that's probably not something you'd do yourself so please if someone does send you links use caution.<br />
				remember you can permanently block people you are not comfortable with anytime.
				<br /><br />
			</div>
    </div>
    <div class = "col-sm-4 guidelines-box">
      <div class = "nrdl-text">behaviour</div>
      <div class = "nrdl-lite">
				most people are going to use nüurdle like they'd use any technology, responsibly to make their lives just that little bit easier, that's why we developed nüurdle, to help you connect. however, there are always a few people... <br />
				just because nüurdle is anonymous that doesn't make it appropriate or cool to send people offensive or unpleasant responses or messages. you can block anyone that does.
				<br /><br />
			</div>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-4 guidelines-box">
      <div class = "nrdl-text">safety</div>
      <div class = "nrdl-lite">
        remember that whilst nüurdle is a great tool to help you meet people you still need to exercise some basic common sense, like with most things. <br />It's always a good idea to let someone know where you are going if you meet up with people again, though of course the great thing about nüurdle is you've already met the other person in real life!
        <br /><br />
      </div>
    </div>
    <div class = "col-sm-4 guidelines-box">
      <div class = "nrdl-text">etiquette</div>
      <div class = "nrdl-lite">
        yes you can probably use nüurdle to find and respond to nüurdles when you know you are not the other party but really, what's the point of that. If you receive a response from someone you know isn't the other person you are trying to connect with you can ignore their response, reject it or if you really don't care for what you are reading simply block them.
        <br /><br />
      </div>
    </div>
    <div class = "col-sm-4 guidelines-box">
      <div class = "nrdl-text">nüurdleMe</div>
      <div class = "nrdl-lite">
        you can turn nüurdleMe mode on or off. when on you get alerts, when off you won't receive any notifications and nüurdle won't know where you are or where you've been. <br />if you switch nüurdleMe mode on you receive an alert anytime someone posts a nüurdle where you are now, or where you've been in the past whilst in nüurdleMe mode. <br />
        <br /><br />
      </div>
    </div>
  </div>


</div>



<script>
document.getElementById("demo").onmouseover = function() {mouseOver()};
document.getElementById("demo").onmouseout = function() {mouseOut()};
document.getElementById("demo1").onmouseover = function() {mouseOver()};
document.getElementById("demo1").onmouseout = function() {mouseOut()};

function mouseOver() {
    document.getElementById("demo").style.background = "#f9e8eb";
    document.getElementById("demo1").style.background = "#f9e8eb";
}

function mouseOut() {
    document.getElementById("demo").style.background = "#fff";
    document.getElementById("demo1").style.background = "#fff";
}
</script>
