
<br />
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
  <div class = "nrdl-head">
    <a>shared a moment with someone?</a><br />
    <a>want to get back in touch?</a><br />
    <img src="/assets/bench.png" width="60%" height="60%" alt="shared a moment" /><br />
    <a>you need nüurdle</a><br />
    <div class = "row">

      <div class = "col-sm-6">
        <%= link_to 'find out more', about_path, class: 'btn btn-primary' %>
      </div>
 
      <div class = "col-sm-6">
        <%= link_to 'download', download_path, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
  <br /><br /><br /><br />
  <div class = "row">
    <div class="col-9">
      <h1></h1>
    </div>
    <div class = "col-3">
      <div class = "nrdl-text"></div>
    </div>
  </div>
</div>









