@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,150,200,300');


.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;

}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.navbar-toggler {
  padding: 10px;
}

#map {
  height: 300px;
}


.hero {
  background: image_url('shared-a-moment.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;

}

.panel {
  color: #485154;
}


@media (max-width: 2020px) {

  .cntrifmob {
    text-align: left;
  }

  .nrdl-head {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 200;
    color: #485154;
    font-size: 44px;
  }

  .nrdl-head-about {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 200;
    color: #485154;
    font-size: 44px;
  }

  .nrdl-text {
    font-family: 'Poppins', sans-serif;
    color: #485154;
    font-weight: 150;
    font-size: 28px;
  }

    .nrdl-lite {
    font-family: 'Poppins', sans-serif;
    color: #485154;
    font-weight: 150;
    font-size: 18px;
  }

    // for the donwload page
  .community {
    background: image_url('comunity-nuurdle.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 1500px;
  }

  img.store-link {
    width: 50%;
  }

  .btn {
    border-radius: 25px;
    width: 50%;
  }

}
  @media (max-width: 768px) {

  .cntrifmob {
    text-align: center;
  }

  .nrdl-head {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 200;
    color: #485154;
    font-size: 24px;
  }

  .nrdl-head-about {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 200;
    color: #485154;
    font-size: 24px;
  }

  .nrdl-text {
    font-family: 'Poppins', sans-serif;
    color: #485154;
    font-weight: 150;
    font-size: 17px;
  }

  .nrdl-lite {
    font-family: 'Poppins', sans-serif;
    color: #485154;
    font-weight: 150;
    font-size: 14px;
  }

  // for the download page
  .community {
    background: image_url('comunity-nuurdle.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 190px;
  }

  img.store-link-cntr {
    width: 10%;
  }

  .btn {
    border-radius: 25px;
    margin-bottom: 10px;
    width: 70%;
  }

}

.guidelines-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 3px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.cntr {
    text-align: center;
}

.lft {
    text-align: left;
}

.rgt {
    text-align: right;
}


.nrdl-bar {
  font-family: 'Poppins', sans-serif;
  color: #485154;
  font-weight: 150;
  font-size: 18px;
}





.frosty {
  background: rgba(54,61,64,0.75);
  color: white;
}

.frosty h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 1px #000;
}


.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}



@-ms-viewport{
  width: device-width;
}












// Carousel styles
/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
  background:#007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}
